.start{
    position: relative;
    margin-top: 30%;
    margin-bottom: 40%;
}
body{
    background-color: #E8E8E8;
    padding-top: 50px;
}
.content{
    padding: 50px;
    background-color: #FFF;
}
html{
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
.procent{
    display:none;
}